<!DOCTYPE html>
<html>
  <head>
    <title>My Flask App with Just Home page</title>
  </head>
  <body>
    <h1>Welcome to My Flask App  Just Home page ...</h1>
    <p>Create or join a room:</p>
    <form method="POST" action="/create_room">
      <input type="submit" value="Create Room">
    </form>
      <div id ="server_response"></div>
      <label for="room_id">Room ID:</label>
      <input type="text" id="room_id" name="room_id">
      <button id="btn_create_room"> Send Data </button>
  </body>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script>
    var socket = io.connect('http://10.0.0.155:8000');
    var serverResponseDiv = document.getElementById('server_response');
    
    socket.on('connect', function() {
        console.log('Connected');
    });
    var myButton = document.getElementById('btn_create_room');
      myButton.addEventListener('click', function() {
        var roomIdInput = document.getElementById('room_id');
        var roomId = roomIdInput.value;
          var data = {'data': roomId}
          socket.emit('my_event', data);
      });

      socket.on('server_response', function(data) {
        serverResponseDiv.innerHTML += '<p>Server response: ' + data.data + '</p>';
    });

</script>


</html>